.success-container {
  background-color: var(--success);
  height: auto;
  width: 80vw;
  border-radius: 5px;
  display:flex;
  justify-content:center;
  align-items:center;
  margin:0 auto;
}
.success-container__text {
  color: white;
  font-size: 0.8rem;
  font-family: cursive;
}

@media screen and (min-width: 1100px) {
  .success-container{
    width:50vw;
  }
}